<!DOCTYPE html>
<html>

<head>
	<title>IUP Ultimate</title>
	<link rel="stylesheet" href="/assets/css/main.css">
	<style type="text/css"></style>
	<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="\assets\vendor\material-design-lite\material.min.css">
<script src="/assets/vendor/material-design-lite/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
	<style>
	/*	.mdl-layout__header{
			background:url('{{slide_show.image4.image}}');
		} */

    .mdl-layout__header{
      background-color:{{main_color}};
    }
    .mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
      background: {{main_color}}; */
    -webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    transition: all 1s cubic-bezier(.4,0,1,1);
    }

		.mdl-layout__tab-bar{
			background-color:#424242;
			
		}
	</style>
	
	<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a class="mdl-layout-title mdl-navigation__link" href="">{{application_name}}</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#fixed-tab-1" class="mdl-layout__tab is-active">{{tab_names.tab1}}</a>
      <a href="#fixed-tab-2" class="mdl-layout__tab">{{tab_names.tab2}}</a>
      <a href="#fixed-tab-3" class="mdl-layout__tab">{{tab_names.tab3}}</a>
	  <a href="#fixed-tab-4" class="mdl-layout__tab">{{tab_names.tab4}}</a>
    </div>
  </header>
  {{!-- <div class="mdl-layout__drawer">
    <a class="mdl-layout-title mdl-navigation__link" href="index.html">{{application_name}}</a>
	<nav class="mdl-navigation">
		<a class="mdl-navigation__link" href="/index.html#fixed-tab-2">{{tab_names.tab2}}</a>
		<a class="" href=""></a>
		<a class="" href=""></a>	
	</nav>
  </div> --}}
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">{{> _main}}</div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content">{{> _the-guys}}</div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content">{{the-girls}}</div>
    </section>
	<section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content">{{join-page}}</div>
    </section>
	
  </main>
</div>


<body></body>


{{!--
<script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script> --}}

</html>