<script>
  $(function () {
    $("#slideshow > div:gt(0)").hide();

    setInterval(function () {
      $('#slideshow > div:first')
        .fadeOut(1000)
        .next()
        .fadeIn(1000)
        .end()
        .appendTo('#slideshow');
    }, 3000);

  });

</script>
<style>
  #slideshow {
    margin: 80px auto;
    position: relative;
    padding: 10px;
  }

  #slideshow>div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
</style>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col">
    <div class="main-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{main_title}}</h2>
      </div>
      <div class="mdl-card__supporting-text">

      </div>
      <div class="mdl-card__actions mdl-card--border">
        <h5>Interested in joining?</h5> <button id="joinBtn" class="mdl-button mdl-js-button mdl-js-ripple-effect js-link" link="{{> _join-page}}">Click Here!</button>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect js-link" link="{{> _join-page}}" />
        <i class="material-icons">share</i>
        </button>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="twitter-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Calendar Events</h2>

      </div>
      <div class="mdl-card__actions mdl-card--border"></div>
      <div class="events">
        {{#each Upcoming_Events as |event|}}
          {{#ifTeam event 'Guys'}}  
        <div class="event">
          <div class="date">
            <i class="fa fa-calendar" aria-hidden="true"></i> {{this.date}} @ {{this.time}}
          </div>
          <div class="event_info">
            Tournament: {{this.title}} <br/> Description:{{event.description}} <br/> Team Playing: {{this.team}}<br/>
          </div>
        </div>
                <hr/> 
          {{/ifTeam}}  
        {{/each}}
      </div>
    </div>
  </div>
  {{!--
  <div class="mdl-cell mdl-cell--12-col">
    <div class="calendar-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Something</h2>
      </div>
      <span class="mdl-card__actions mdl-card--border"></span>

    </div>
  </div> --}}
  <div class="main-card mdl-card mdl-shadow--2dp">

    <div class="mdl-card__title">
      <div id="slideshow">

        {{#each slide_show}}
        <div>
          <img src="{{this.image}}" style="height:150px; width:300px;">
        </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>