<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col">
    <div class="main-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 id="main-card-title" class="mdl-card__title-text">{{global.main_title}}</h2>
      </div>
      <div class="mdl-card__supporting-text">

      </div>
      <div class="mdl-card__actions mdl-card--border">
        <h4 class="mdl-typography--text-center">{{team_picture.title}}</h4>
        <img src="{{team_picture.image}}" style="width:100%;">
        <h4>{{team_picture.description}}</h4>
      </div>
      <div class="mdl-card__menu">
<a id="joinBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" href="{{> _join-page}}">Click Here to Join!</a>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
    <div class="twitter-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Calendar Events</h2>

      </div>
      <div class="mdl-card__actions mdl-card--border"></div>
      <div class="events">
        {{#each Upcoming_Events as |event|}} {{#ifTeam event 'Guys'}}
        <div class="event">
          <div class="date">
            <i class="fa fa-calendar" aria-hidden="true"></i> {{this.date}} <br/> @ {{this.time}}
          </div>
          <div class="event_info">
            Tournament: {{this.title}} <br/> 
            Description:{{event.description}} <br/> 
            Team Playing: {{this.team}}<br/>
          </div>
        </div>
        <hr/> {{/ifTeam}} {{/each}}
      </div>
    </div>
  </div>

<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
  <div class="links-card mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Wanna Learn?</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border"></div>
    <div class="links-container">
      {{#each information_links as |link|}}
        <div class="link-title">
         <h4> <a href="{{link.link}}">{{link.title}}</a></h3>
        </div>
        <div class="link-desc">
          <span>{{link.description}}</span>
        </div>
       
      {{/each}}
    </div>
  </div>
</div>

  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
    <div class="slideshow-card mdl-card mdl-shadow--2dp">

      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Team Slideshow</h2>
      </div>
      <div class="mdl-card__actions mdl-card--border"></div>

      <div class="slideshow-container">
        {{#each slide_show}}
        <div class="mySlides ">
          <img src="{{image}}">
          <div class="text">{{description}}</div>
        </div>
        {{/each}}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <div style="text-align:center">
        {{#each slide_show}}
        <span class="dot" onclick="currentSlide{{@key}}"></span>

        {{/each}}
      </div>

    </div>
  </div>
</div>
</div>
<script type="text/javascript" src="/assets/js/slideShow.js"></script>