
  {{!-- <style>
    .mdl-layout__header{
  background-color:{{global.maincolor}}
  
}
  </style> --}}

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header" style="background-color:{{global.maincolor}}">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a id="main-title" href="/" class="mdl-layout-title mdl-navigation__link">{{global.application_name}}</a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link js-link" href="/guys_team">{{global.tab_names.tab2}}</a>
        <a class="mdl-navigation__link js-link" href="">{{global.tab_names.tab3}}</a>
        <a class="mdl-navigation__link js-link" href="">{{global.tab_names.tab4}}</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title mdl-navigation__link"><a href="/" style="background-color:transparent;text-decoration:none; color:gray;">{{global.application_name}}</a></span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link js-link" href="/guys_team">{{global.tab_names.tab2}}</a>
        <a class="mdl-navigation__link js-link" href="">{{global.tab_names.tab3}}</a>
        <a class="mdl-navigation__link js-link" href="">{{global.tab_names.tab4}}</a>
    </nav>
  </div>
