<!DOCTYPE html>
<html>

<head>
	<title>IUP - Ultimate Frisbee and Fun</title>
	<link rel="stylesheet" href="/assets/css/main.css">
	<style type="text/css"></style>
	<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="\assets\vendor\material-design-lite\material.min.css">
<script src="/assets/vendor/material-design-lite/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
  <style>
    .mdl-layout__header{
	background:url('{{slide_show.image4.image}}');
}

.mdl-layout__tab-bar{
	background-color:#424242;
			
}
  </style>
	
	<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class=""><a class="mdl-layout-title mdl-navigation__link" href="">{{application_name}}</a></span>
    </div>

    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a id="tab1" href="#fixed-tab-1" class="mdl-layout__tab is-active">{{tab_names.tab1}}</a>
      <a id="tab2" href="#fixed-tab-2" class="mdl-layout__tab">{{tab_names.tab2}}</a>
      <a id="tab3" href="#fixed-tab-3" class="mdl-layout__tab">{{tab_names.tab3}}</a>
	    <a id="tab4" href="#fixed-tab-4" class="mdl-layout__tab">{{tab_names.tab4}}</a>
    </div>
  </header>

  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">{{> _main}}</div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div id="the-guys-content"class="page-content">{{> _the-guys}}</div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content">{{the-girls}}</div>
    </section>
	<section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content">{{join-page}}</div>
    </section>
	
  </main>
</div>

</body>


</html>