<!DOCTYPE html>
<html>

<head>
	<title>IUP - Ultimate Frisbee and Fun</title>
  <meta http-equiv="Pragma" content="no-cache">
	<link rel="stylesheet" href="/assets/css/main.css">
	<style type="text/css"></style>
	<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="\assets\vendor\material-design-lite\material.min.css">
<script src="/assets/vendor/material-design-lite/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://use.fontawesome.com/d0e47f0c64.js"></script>
</head>

<body>
  <style>
    .mdl-layout__header{
	{{!-- background:url('{{slide_show.image4.image}}'); --}}
  background-color:{{maincolor}}
  
}

.mdl-navigation__link{
  cursor:pointer;


}


.mdl-layout__tab-bar{
	background-color:#424242;
			
}
  </style>

	  <!-- Simple header with fixed tabs. -->
 {{!-- <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class=""><a class="mdl-layout-title mdl-navigation__link" href="">{{application_name}}</a></span>
    </div>

    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a id="tab1" href="#fixed-tab-1" class="mdl-layout__tab is-active">{{tab_names.tab1}}</a>
      <a id="tab2" href="#fixed-tab-2" class="mdl-layout__tab">{{tab_names.tab2}}</a>
      <a id="tab3" href="#fixed-tab-3" class="mdl-layout__tab">{{tab_names.tab3}}</a>
	    <a id="tab4" href="#fixed-tab-4" class="mdl-layout__tab">{{tab_names.tab4}}</a>
    </div>
  </header>

  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">{{> _main}}</div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content">{{> _the-guys}}</div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content">{{> _the-girls}}</div>
    </section>
	<section class="mdl-layout__tab-panel" id="fixed-tab-4">
      <div class="page-content">{{> _join-page}}</div>
    </section>
	
  </main>
</div>      --}}

 <script>
  $(function(){
      console.log("hey");
      $('.js-link').click(function(){
         $('.page-content').html($(this).attr('link'));
      });


  });
</script>

<Script>
  Handlebars.registerHelper('teamsort', function(items, team){
    var x = 0, len = items.length, s = "<ul>";
    
    for(x; x < len; x++){
      var t = Handlebars.escapeExpression(items[x].Team.toLowerCase());
      var item = Handlebars.escapeExpression(this);
      if(team = "guys" ){
        s+= "<li></li>"
      }else if(team = "girls"){

      }else if(team = "coed")

      }else{
        // return all
      }
    }
  })
</Script>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a href="" class="mdl-layout-title mdl-navigation__link">{{application_name}}</a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link js-link" link="{{> _the-guys}}">{{tab_names.tab2}}</a>
        <a class="mdl-navigation__link js-link" link="{{> _the-girls}}">{{tab_names.tab3}}</a>
        <a class="mdl-navigation__link js-link" link="{{> _join-page}}">{{tab_names.tab4}}</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title mdl-navigation__link"><a href="" style="background-color:transparent;text-decoration:none; color:gray;">{{application_name}}</a></span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link js-link" link="{{> _the-guys}}">{{tab_names.tab2}}</a>
        <a class="mdl-navigation__link js-link" link="{{> _the-girls}}">{{tab_names.tab3}}</a>
        <a class="mdl-navigation__link js-link" link="{{> _join-page}}">{{tab_names.tab4}}</a>
    </nav>
  </div>
      <main class="mdl-layout__content">
        <div class="page-content">{{> _main}}</div>
      </main>
</div> 
</body>

</html>